<a href="https://colab.research.google.com/github/inaricoleman1/imdb_web-scraping/blob/main/imdb_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Page 1-50**

---

In [108]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import csv 
#import json
#from pandas import json_normalize
#!pip install flatten_json
#from flatten_json import flatten
#URL='https://www.scrapethissite.com/pages/simple/'

In [29]:
#api_key='k_dzrtuvoo' #Enter your API key here
#title_code='tt0411008' #Enter the title of the film you want to lookup

url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating" # Enter the API URL
page=requests.get(url)

In [30]:
print(page)

<Response [200]>

In [31]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
print(soup.prettify())

In [36]:
heading = res.find(class_ = "genre")
print(heading)

<span class="genre">
Drama            </span>

In [ ]:
heading.text

In [ ]:
print(soup.title)

In [40]:
soup.find_all('p')[0].get_text()

'\nR\n|\n142 min\n|\n\nDrama            \n'

In [ ]:
genre = soup.find_all("span",class_='genre')
print(genre)

In [43]:
rating = soup.find_all("span",class_="certificate")
print(rating)

[<span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">Approved</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG-13</span>, <span class="certificate">Approved</span>, <span class="certificate">PG-13</span>, <span class="certificate">TV-MA</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">18+</span>, <span class="certificate">PG</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">Not Rated</span>, <span class="certificate">Not Rated</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">G</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">Not Rated</span>]

In [44]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
print(year)

[<span class="lister-item-year text-muted unbold">(1994)</span>, <span class="lister-item-year text-muted unbold">(1972)</span>, <span class="lister-item-year text-muted unbold">(2008)</span>, <span class="lister-item-year text-muted unbold">(1993)</span>, <span class="lister-item-year text-muted unbold">(1974)</span>, <span class="lister-item-year text-muted unbold">(1957)</span>, <span class="lister-item-year text-muted unbold">(2003)</span>, <span class="lister-item-year text-muted unbold">(1994)</span>, <span class="lister-item-year text-muted unbold">(2010)</span>, <span class="lister-item-year text-muted unbold">(1999)</span>, <span class="lister-item-year text-muted unbold">(2001)</span>, <span class="lister-item-year text-muted unbold">(1994)</span>, <span class="lister-item-year text-muted unbold">(1966)</span>, <span class="lister-item-year text-muted unbold">(2002)</span>, <span class="lister-item-year text-muted unbold">(2021)</span>, <span class="lister-item-year text-muted unbold">(1990)</span>, <span class="lister-item-year text-muted unbold">(1999)</span>, <span class="lister-item-year text-muted unbold">(1975)</span>, <span class="lister-item-year text-muted unbold">(1980)</span>, <span class="lister-item-year text-muted unbold">(2014)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(1997)</span>, <span class="lister-item-year text-muted unbold">(1999)</span>, <span class="lister-item-year text-muted unbold">(1991)</span>, <span class="lister-item-year text-muted unbold">(1977)</span>, <span class="lister-item-year text-muted unbold">(1998)</span>, <span class="lister-item-year text-muted unbold">(1991)</span>, <span class="lister-item-year text-muted unbold">(2001)</span>, <span class="lister-item-year text-muted unbold">(2002)</span>, <span class="lister-item-year text-muted unbold">(1946)</span>, <span class="lister-item-year text-muted unbold">(1954)</span>, <span class="lister-item-year text-muted unbold">(1962)</span>, <span class="lister-item-year text-muted unbold">(2014)</span>, <span class="lister-item-year text-muted unbold">(2019)</span>, <span class="lister-item-year text-muted unbold">(2006)</span>, <span class="lister-item-year text-muted unbold">(2006)</span>, <span class="lister-item-year text-muted unbold">(1994)</span>, <span class="lister-item-year text-muted unbold">(2000)</span>, <span class="lister-item-year text-muted unbold">(1979)</span>, <span class="lister-item-year text-muted unbold">(1979)</span>, <span class="lister-item-year text-muted unbold">(1985)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(1998)</span>, <span class="lister-item-year text-muted unbold">(1994)</span>, <span class="lister-item-year text-muted unbold">(2002)</span>, <span class="lister-item-year text-muted unbold">(2011)</span>, <span class="lister-item-year text-muted unbold">(1968)</span>, <span class="lister-item-year text-muted unbold">(1942)</span>, <span class="lister-item-year text-muted unbold">(1960)</span>, <span class="lister-item-year text-muted unbold">(1988)</span>]

In [ ]:
title = soup.find_all("h3",class_="lister-item-header")
print(title)

In [ ]:
gross = soup.find_all("p", class_="sort-num_votes-visible")
print(gross)

In [151]:
run_time = soup.find_all("span",class_="runtime")

In [152]:
user_rating = soup.find_all("div", class_="inline-block ratings-imdb-rating")

In [153]:
num_votes = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [47]:
movie_gross = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,868,869', '| Gross:', '$134.97M', '| Top 250:', '#2']

In [154]:
movie_titles = [i.text.strip() for i in title]
print(movie_titles[:5])
print(movie_titles[0].split('\n'))

['151.\nL.A. Confidential\n(1997)', '152.\nV for Vendetta\n(2005)', '153.\nUnforgiven\n(1992)', '154.\nDownfall\n(2004)', '155.\nSome Like It Hot\n(1959)']
['151.', 'L.A. Confidential', '(1997)']

In [157]:
run_time = soup.find_all("span",class_="runtime")

In [158]:
df1 = pd.DataFrame({'rating':[i.text.strip() for i in rating],
              'genre': [i.text.strip() for i in genre],
              'year':  [i.text.strip('()') for i in year],
              'title': [i.split('\n')[1] for i in movie_titles],
              'gross': [i.split('\n')[3] for i in movie_gross],
              'imdb_ranking': [i.split('\n')[-1] for i in movie_gross],
              'runtime': [i.text.strip() for i in run_time],
              'user_rating': [i.text.strip() for i in user_rating],
              'num_votes': [i.split('\n')[1] for i in movie_gross]})

In [159]:
df1.head()

,rating,genre,year,title,gross,imdb_ranking,runtime,user_rating,num_votes
0,R,"Crime, Drama, Mystery",1997,L.A. Confidential,$64.62M,#117,138 min,8.2,"586,763"
1,R,"Action, Drama, Sci-Fi",2005,V for Vendetta,$70.51M,#158,132 min,8.2,"1,127,706"
2,R,"Drama, Western",1992,Unforgiven,$101.16M,#139,130 min,8.2,"415,368"
3,R,"Biography, Drama, History",2004,Downfall,$5.51M,#124,156 min,8.2,"358,555"
4,Passed,"Comedy, Music, Romance",1959,Some Like It Hot,$25.00M,#129,121 min,8.2,"270,048"

# **next page  51-100**

In [52]:
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=51&ref_=adv_prv" # Enter the API URL
page=requests.get(url)

In [53]:
print(page)

<Response [200]>

In [54]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
genre = soup.find_all("span",class_='genre')
print(genre)

In [56]:
rating = soup.find_all("span",class_="certificate")
print(rating)

[<span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">G</span>, <span class="certificate">G</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG</span>, <span class="certificate">PG</span>, <span class="certificate">PG-13</span>, <span class="certificate">G</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">Approved</span>, <span class="certificate">Passed</span>, <span class="certificate">Approved</span>, <span class="certificate">G</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">G</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">G</span>, <span class="certificate">PG</span>]

In [57]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
print(year)

[<span class="lister-item-year text-muted unbold">(1988)</span>, <span class="lister-item-year text-muted unbold">(1954)</span>, <span class="lister-item-year text-muted unbold">(1936)</span>, <span class="lister-item-year text-muted unbold">(1931)</span>, <span class="lister-item-year text-muted unbold">(2019)</span>, <span class="lister-item-year text-muted unbold">(I) (2019)</span>, <span class="lister-item-year text-muted unbold">(1981)</span>, <span class="lister-item-year text-muted unbold">(2012)</span>, <span class="lister-item-year text-muted unbold">(1999)</span>, <span class="lister-item-year text-muted unbold">(2012)</span>, <span class="lister-item-year text-muted unbold">(2000)</span>, <span class="lister-item-year text-muted unbold">(1986)</span>, <span class="lister-item-year text-muted unbold">(2018)</span>, <span class="lister-item-year text-muted unbold">(2003)</span>, <span class="lister-item-year text-muted unbold">(1980)</span>, <span class="lister-item-year text-muted unbold">(2018)</span>, <span class="lister-item-year text-muted unbold">(1984)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(1985)</span>, <span class="lister-item-year text-muted unbold">(2020)</span>, <span class="lister-item-year text-muted unbold">(I) (2017)</span>, <span class="lister-item-year text-muted unbold">(2016)</span>, <span class="lister-item-year text-muted unbold">(2009)</span>, <span class="lister-item-year text-muted unbold">(2008)</span>, <span class="lister-item-year text-muted unbold">(2006)</span>, <span class="lister-item-year text-muted unbold">(2018)</span>, <span class="lister-item-year text-muted unbold">(1997)</span>, <span class="lister-item-year text-muted unbold">(1964)</span>, <span class="lister-item-year text-muted unbold">(1981)</span>, <span class="lister-item-year text-muted unbold">(1957)</span>, <span class="lister-item-year text-muted unbold">(1950)</span>, <span class="lister-item-year text-muted unbold">(1957)</span>, <span class="lister-item-year text-muted unbold">(1940)</span>, <span class="lister-item-year text-muted unbold">(1963)</span>, <span class="lister-item-year text-muted unbold">(2022)</span>, <span class="lister-item-year text-muted unbold">(1997)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(2009)</span>, <span class="lister-item-year text-muted unbold">(2000)</span>, <span class="lister-item-year text-muted unbold">(1992)</span>, <span class="lister-item-year text-muted unbold">(2004)</span>, <span class="lister-item-year text-muted unbold">(1973)</span>, <span class="lister-item-year text-muted unbold">(1983)</span>, <span class="lister-item-year text-muted unbold">(1971)</span>, <span class="lister-item-year text-muted unbold">(2012)</span>, <span class="lister-item-year text-muted unbold">(1968)</span>, <span class="lister-item-year text-muted unbold">(1987)</span>, <span class="lister-item-year text-muted unbold">(1984)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(1983)</span>]

In [ ]:
title = soup.find_all("h3",class_="lister-item-header")
print(title)

In [ ]:
gross = soup.find_all("p", class_="sort-num_votes-visible")
print(gross)

In [146]:
run_time = soup.find_all("span",class_="runtime")

In [149]:
user_rating = soup.find_all("div", class_="inline-block ratings-imdb-rating")

In [148]:
num_votes = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [61]:
movie_gross = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '495,239', '| Gross:', '$36.76M', '| Top 250:', '#49']

In [160]:
movie_titles = [i.text.strip() for i in title]
print(movie_titles[:5])
print(movie_titles[0].split('\n'))

['151.\nL.A. Confidential\n(1997)', '152.\nV for Vendetta\n(2005)', '153.\nUnforgiven\n(1992)', '154.\nDownfall\n(2004)', '155.\nSome Like It Hot\n(1959)']
['151.', 'L.A. Confidential', '(1997)']

In [161]:
df2 = pd.DataFrame({'rating':[i.text.strip() for i in rating],
              'genre': [i.text.strip() for i in genre],
              'year':  [i.text.strip('()') for i in year],
              'title': [i.split('\n')[1] for i in movie_titles],
              'gross': [i.split('\n')[3] for i in movie_gross],
              'imdb_ranking': [i.split('\n')[-1] for i in movie_gross],
              'runtime': [i.text.strip() for i in run_time],
              'user_rating': [i.text.strip() for i in user_rating],
              'num_votes': [i.split('\n')[1] for i in movie_gross]})

In [162]:
df2.head()

,rating,genre,year,title,gross,imdb_ranking,runtime,user_rating,num_votes
0,R,"Crime, Drama, Mystery",1997,L.A. Confidential,$64.62M,#117,138 min,8.2,"586,763"
1,R,"Action, Drama, Sci-Fi",2005,V for Vendetta,$70.51M,#158,132 min,8.2,"1,127,706"
2,R,"Drama, Western",1992,Unforgiven,$101.16M,#139,130 min,8.2,"415,368"
3,R,"Biography, Drama, History",2004,Downfall,$5.51M,#124,156 min,8.2,"358,555"
4,Passed,"Comedy, Music, Romance",1959,Some Like It Hot,$25.00M,#129,121 min,8.2,"270,048"

# **Pages 100-150**

---

In [65]:
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=101&ref_=adv_nxt" # Enter the API URL
page=requests.get(url)

In [66]:
print(page)

<Response [200]>

In [67]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
genre = soup.find_all("span",class_='genre')
print(genre)

In [69]:
rating = soup.find_all("span",class_="certificate")
print(rating)

[<span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">Approved</span>, <span class="certificate">PG</span>, <span class="certificate">G</span>, <span class="certificate">PG</span>, <span class="certificate">Approved</span>, <span class="certificate">Not Rated</span>, <span class="certificate">G</span>, <span class="certificate">Approved</span>, <span class="certificate">Approved</span>, <span class="certificate">Approved</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG-13</span>, <span class="certificate">Passed</span>, <span class="certificate">Not Rated</span>, <span class="certificate">Passed</span>, <span class="certificate">PG</span>, <span class="certificate">Not Rated</span>, <span class="certificate">Passed</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">G</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG-13</span>, <span class="certificate">Passed</span>]

In [70]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
print(year)

[<span class="lister-item-year text-muted unbold">(2001)</span>, <span class="lister-item-year text-muted unbold">(2010)</span>, <span class="lister-item-year text-muted unbold">(2009)</span>, <span class="lister-item-year text-muted unbold">(1962)</span>, <span class="lister-item-year text-muted unbold">(1941)</span>, <span class="lister-item-year text-muted unbold">(2010)</span>, <span class="lister-item-year text-muted unbold">(1958)</span>, <span class="lister-item-year text-muted unbold">(1959)</span>, <span class="lister-item-year text-muted unbold">(1927)</span>, <span class="lister-item-year text-muted unbold">(1952)</span>, <span class="lister-item-year text-muted unbold">(1962)</span>, <span class="lister-item-year text-muted unbold">(1961)</span>, <span class="lister-item-year text-muted unbold">(1960)</span>, <span class="lister-item-year text-muted unbold">(2016)</span>, <span class="lister-item-year text-muted unbold">(2011)</span>, <span class="lister-item-year text-muted unbold">(1931)</span>, <span class="lister-item-year text-muted unbold">(1952)</span>, <span class="lister-item-year text-muted unbold">(1944)</span>, <span class="lister-item-year text-muted unbold">(2007)</span>, <span class="lister-item-year text-muted unbold">(1948)</span>, <span class="lister-item-year text-muted unbold">(1921)</span>, <span class="lister-item-year text-muted unbold">(1955)</span>, <span class="lister-item-year text-muted unbold">(2021)</span>, <span class="lister-item-year text-muted unbold">(2013)</span>, <span class="lister-item-year text-muted unbold">(1993)</span>, <span class="lister-item-year text-muted unbold">(2018)</span>, <span class="lister-item-year text-muted unbold">(2010)</span>, <span class="lister-item-year text-muted unbold">(2007)</span>, <span class="lister-item-year text-muted unbold">(1976)</span>, <span class="lister-item-year text-muted unbold">(2019)</span>, <span class="lister-item-year text-muted unbold">(I) (2020)</span>, <span class="lister-item-year text-muted unbold">(1989)</span>, <span class="lister-item-year text-muted unbold">(2000)</span>, <span class="lister-item-year text-muted unbold">(2005)</span>, <span class="lister-item-year text-muted unbold">(1998)</span>, <span class="lister-item-year text-muted unbold">(1999)</span>, <span class="lister-item-year text-muted unbold">(1988)</span>, <span class="lister-item-year text-muted unbold">(2003)</span>, <span class="lister-item-year text-muted unbold">(2007)</span>, <span class="lister-item-year text-muted unbold">(1982)</span>, <span class="lister-item-year text-muted unbold">(2003)</span>, <span class="lister-item-year text-muted unbold">(1995)</span>, <span class="lister-item-year text-muted unbold">(I) (2015)</span>, <span class="lister-item-year text-muted unbold">(1974)</span>, <span class="lister-item-year text-muted unbold">(2004)</span>, <span class="lister-item-year text-muted unbold">(2006)</span>, <span class="lister-item-year text-muted unbold">(1998)</span>, <span class="lister-item-year text-muted unbold">(2001)</span>, <span class="lister-item-year text-muted unbold">(2011)</span>, <span class="lister-item-year text-muted unbold">(1939)</span>]

In [ ]:
title = soup.find_all("h3",class_="lister-item-header")
print(title)

In [ ]:
gross = soup.find_all("p", class_="sort-num_votes-visible")
print(gross)

In [ ]:
user_rating = soup.find_all("div",class_="inline-block ratings-imdb-rating")
print(user_rating)

In [143]:
run_time = soup.find_all("span",class_="runtime")

In [144]:
user_rating = soup.find_all("div", class_="inline-block ratings-imdb-rating")

In [145]:
num_votes = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [75]:
movie_gross = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '180,384', '| Gross:', '$6.86M', '| Top 250:', '#109']

In [163]:
movie_titles = [i.text.strip() for i in title]
print(movie_titles[:5])
print(movie_titles[0].split('\n'))

['151.\nL.A. Confidential\n(1997)', '152.\nV for Vendetta\n(2005)', '153.\nUnforgiven\n(1992)', '154.\nDownfall\n(2004)', '155.\nSome Like It Hot\n(1959)']
['151.', 'L.A. Confidential', '(1997)']

In [164]:
 df3 = pd.DataFrame({'rating':[i.text.strip() for i in rating],
              'genre': [i.text.strip() for i in genre],
              'year':  [i.text.strip('()') for i in year],
              'title': [i.split('\n')[1] for i in movie_titles],
              'gross': [i.split('\n')[3] for i in movie_gross],
              'imdb_ranking': [i.split('\n')[-1] for i in movie_gross],
              'runtime': [i.text.strip() for i in run_time],
              'user_rating': [i.text.strip() for i in user_rating],
              'num_votes': [i.split('\n')[1] for i in movie_gross]})

# **pages 150-200**

---

In [78]:
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=151&ref_=adv_nxt" # Enter the API URL
page=requests.get(url)

In [79]:
print(page)

<Response [200]>

In [80]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
genre = soup.find_all("span",class_='genre')
print(genre)

In [82]:
rating = soup.find_all("span",class_="certificate")
print(rating)

[<span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">Passed</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">Approved</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG</span>, <span class="certificate">Passed</span>, <span class="certificate">Passed</span>, <span class="certificate">Not Rated</span>, <span class="certificate">Not Rated</span>, <span class="certificate">PG</span>, <span class="certificate">Passed</span>, <span class="certificate">Passed</span>, <span class="certificate">G</span>, <span class="certificate">Not Rated</span>, <span class="certificate">Passed</span>, <span class="certificate">Not Rated</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">Not Rated</span>, <span class="certificate">13+</span>, <span class="certificate">R</span>, <span class="certificate">R</span>, <span class="certificate">PG-13</span>, <span class="certificate">G</span>, <span class="certificate">R</span>, <span class="certificate">G</span>, <span class="certificate">PG</span>, <span class="certificate">PG-13</span>, <span class="certificate">R</span>]

In [83]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
print(year)

[<span class="lister-item-year text-muted unbold">(1997)</span>, <span class="lister-item-year text-muted unbold">(2005)</span>, <span class="lister-item-year text-muted unbold">(1992)</span>, <span class="lister-item-year text-muted unbold">(2004)</span>, <span class="lister-item-year text-muted unbold">(1959)</span>, <span class="lister-item-year text-muted unbold">(1980)</span>, <span class="lister-item-year text-muted unbold">(1975)</span>, <span class="lister-item-year text-muted unbold">(2009)</span>, <span class="lister-item-year text-muted unbold">(1980)</span>, <span class="lister-item-year text-muted unbold">(1963)</span>, <span class="lister-item-year text-muted unbold">(2019)</span>, <span class="lister-item-year text-muted unbold">(1965)</span>, <span class="lister-item-year text-muted unbold">(1985)</span>, <span class="lister-item-year text-muted unbold">(1957)</span>, <span class="lister-item-year text-muted unbold">(1950)</span>, <span class="lister-item-year text-muted unbold">(1954)</span>, <span class="lister-item-year text-muted unbold">(1950)</span>, <span class="lister-item-year text-muted unbold">(1948)</span>, <span class="lister-item-year text-muted unbold">(1961)</span>, <span class="lister-item-year text-muted unbold">(1953)</span>, <span class="lister-item-year text-muted unbold">(1997)</span>, <span class="lister-item-year text-muted unbold">(1942)</span>, <span class="lister-item-year text-muted unbold">(1928)</span>, <span class="lister-item-year text-muted unbold">(1975)</span>, <span class="lister-item-year text-muted unbold">(1953)</span>, <span class="lister-item-year text-muted unbold">(1924)</span>, <span class="lister-item-year text-muted unbold">(2005)</span>, <span class="lister-item-year text-muted unbold">(2013)</span>, <span class="lister-item-year text-muted unbold">(2014)</span>, <span class="lister-item-year text-muted unbold">(2014)</span>, <span class="lister-item-year text-muted unbold">(2015)</span>, <span class="lister-item-year text-muted unbold">(1976)</span>, <span class="lister-item-year text-muted unbold">(2016)</span>, <span class="lister-item-year text-muted unbold">(2017)</span>, <span class="lister-item-year text-muted unbold">(2011)</span>, <span class="lister-item-year text-muted unbold">(2003)</span>, <span class="lister-item-year text-muted unbold">(1982)</span>, <span class="lister-item-year text-muted unbold">(2017)</span>, <span class="lister-item-year text-muted unbold">(2019)</span>, <span class="lister-item-year text-muted unbold">(2016)</span>, <span class="lister-item-year text-muted unbold">(1986)</span>, <span class="lister-item-year text-muted unbold">(1998)</span>, <span class="lister-item-year text-muted unbold">(1984)</span>, <span class="lister-item-year text-muted unbold">(2002)</span>, <span class="lister-item-year text-muted unbold">(1965)</span>, <span class="lister-item-year text-muted unbold">(1996)</span>, <span class="lister-item-year text-muted unbold">(2007)</span>, <span class="lister-item-year text-muted unbold">(1975)</span>, <span class="lister-item-year text-muted unbold">(2011)</span>, <span class="lister-item-year text-muted unbold">(1996)</span>]

In [ ]:
title = soup.find_all("h3",class_="lister-item-header")
print(title)

In [ ]:
gross = soup.find_all("p", class_="sort-num_votes-visible")
print(gross)

In [ ]:
user_rating = soup.find_all("div",class_="inline-block ratings-imdb-rating")
print(user_rating)

In [118]:
run_time = soup.find_all("span",class_="runtime")

In [ ]:
user_rating = soup.find_all("div", class_="inline-block ratings-imdb-rating")

In [140]:
num_votes = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [137]:
movie_gross = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [124]:
movie_titles = [i.text.strip() for i in title]
print(movie_titles[:5])
print(movie_titles[0].split('\n'))

['151.\nL.A. Confidential\n(1997)', '152.\nV for Vendetta\n(2005)', '153.\nUnforgiven\n(1992)', '154.\nDownfall\n(2004)', '155.\nSome Like It Hot\n(1959)']
['151.', 'L.A. Confidential', '(1997)']

In [141]:
 df4 = pd.DataFrame({'rating':[i.text.strip() for i in rating],
              'genre': [i.text.strip() for i in genre],
              'year':  [i.text.strip('()') for i in year],
              'title': [i.split('\n')[1] for i in movie_titles],
              'gross': [i.split('\n')[3] for i in movie_gross],
              'imdb_ranking': [i.split('\n')[-1] for i in movie_gross],
              'runtime': [i.text.strip() for i in run_time],
              'user_rating': [i.text.strip() for i in user_rating],
              'num_votes': [i.split('\n')[1] for i in movie_gross]})

In [142]:
df4.head()

,rating,genre,year,title,gross,imdb_ranking,runtime,user_rating,num_votes
0,R,"Crime, Drama, Mystery",1997,L.A. Confidential,$64.62M,#117,138 min,8.2,"586,763"
1,R,"Action, Drama, Sci-Fi",2005,V for Vendetta,$70.51M,#158,132 min,8.2,"1,127,706"
2,R,"Drama, Western",1992,Unforgiven,$101.16M,#139,130 min,8.2,"415,368"
3,R,"Biography, Drama, History",2004,Downfall,$5.51M,#124,156 min,8.2,"358,555"
4,Passed,"Comedy, Music, Romance",1959,Some Like It Hot,$25.00M,#129,121 min,8.2,"270,048"

# **200-250**

---

In [167]:
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start=201&ref_=adv_nxt" # Enter the API URL
page=requests.get(url)

In [168]:
print(page)

<Response [200]>

In [169]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
genre = soup.find_all("span",class_='genre')
print(genre)

In [ ]:
rating = soup.find_all("span",class_="certificate")
print(rating)

In [ ]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
print(year)

In [ ]:
title = soup.find_all("h3",class_="lister-item-header")
print(title)

In [ ]:
gross = soup.find_all("p", class_="sort-num_votes-visible")
print(gross)

In [ ]:
user_rating = soup.find_all("div",class_="inline-block ratings-imdb-rating")
print(user_rating)

In [176]:
run_time = soup.find_all("span",class_="runtime")

In [177]:
user_rating = soup.find_all("div", class_="inline-block ratings-imdb-rating")

In [178]:
num_votes = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '1,127,706', '| Gross:', '$70.51M', '| Top 250:', '#158']

In [179]:
movie_gross = [i.text.strip() for i in gross]
print(movie_gross[:0])
print(movie_gross[1].split('\n'))

[]
['Votes:', '412,789', '| Gross:', '$232.91M', '| Top 250:', '#226']

In [180]:
movie_titles = [i.text.strip() for i in title]
print(movie_titles[:5])
print(movie_titles[0].split('\n'))

['201.\nDead Poets Society\n(1989)', '202.\nThe Exorcist\n(1973)', '203.\nSpotlight\n(I) (2015)', '204.\nThe Wizard of Oz\n(1939)', '205.\nBefore Sunrise\n(1995)']
['201.', 'Dead Poets Society', '(1989)']

In [181]:
 df5 = pd.DataFrame({'rating':[i.text.strip() for i in rating],
              'genre': [i.text.strip() for i in genre],
              'year':  [i.text.strip('()') for i in year],
              'title': [i.split('\n')[1] for i in movie_titles],
              'gross': [i.split('\n')[3] for i in movie_gross],
              'imdb_ranking': [i.split('\n')[-1] for i in movie_gross],
              'runtime': [i.text.strip() for i in run_time],
              'user_rating': [i.text.strip() for i in user_rating],
              'num_votes': [i.split('\n')[1] for i in movie_gross]})

In [182]:
df5.head()

,rating,genre,year,title,gross,imdb_ranking,runtime,user_rating,num_votes
0,PG,"Comedy, Drama",1989,Dead Poets Society,$95.86M,#206,128 min,8.1,"497,132"
1,R,Horror,1973,The Exorcist,$232.91M,#226,122 min,8.1,"412,789"
2,R,"Biography, Crime, Drama",I) (2015,Spotlight,$45.06M,#214,129 min,8.1,"473,963"
3,PG,"Adventure, Family, Fantasy",1939,The Wizard of Oz,$2.08M,#222,102 min,8.1,"404,096"
4,R,"Drama, Romance",1995,Before Sunrise,$5.54M,#178,101 min,8.1,"312,566"

# **Merge Files**

---

In [186]:
new_df = pd.concat([df1, df2,df3,df4,df5], ignore_index=True, sort=False)

In [187]:
new_df

,rating,genre,year,title,gross,imdb_ranking,runtime,user_rating,num_votes
0,R,"Crime, Drama, Mystery",1997,L.A. Confidential,$64.62M,#117,138 min,8.2,"586,763"
1,R,"Action, Drama, Sci-Fi",2005,V for Vendetta,$70.51M,#158,132 min,8.2,"1,127,706"
2,R,"Drama, Western",1992,Unforgiven,$101.16M,#139,130 min,8.2,"415,368"
3,R,"Biography, Drama, History",2004,Downfall,$5.51M,#124,156 min,8.2,"358,555"
4,Passed,"Comedy, Music, Romance",1959,Some Like It Hot,$25.00M,#129,121 min,8.2,"270,048"
...,...,...,...,...,...,...,...,...,...
245,PG-13,"Adventure, Drama, Western",1990,Dances with Wolves,$184.21M,#250,181 min,8.0,"269,266"
246,PG,"Animation, Action, Adventure",2004,The Incredibles,$261.44M,#227,115 min,8.0,"744,670"
247,G,"Animation, Adventure, Comedy",1992,Aladdin,$217.35M,#248,90 min,8.0,"425,699"
248,R,Comedy,1979,Life of Brian,$20.05M,#244,94 min,8.0,"403,398"
249,PG,"Biography, Drama, History",1982,Gandhi,$52.77M,#249,191 min,8.0,"233,754"

In [185]:
from google.colab import files
new_df.to_csv('new_df.csv', index = False, encoding = 'utf-8-sig') 
files.download('new_df.csv')