In [ ]:
#importing the libraries needed
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import csv

In [ ]:
#creating empty lists to store movie data
rating=[]
year=[]
gross=[]
title=[]
genre =[]
run_time=[]
user_rating=[]

pages = np.arange(1,1000,100)

#for loop to to extract movies details from IMDB
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc"+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    results=soup.find_all("div",class_='lister-item mode-advanced')

    for res in results:
        rating.append(res.find('span',class_='certificate').text.strip())
        year.append(res.find('span',class_='lister-item-year text-muted unbold').text.strip('()'))
        gross.append(res.find('p', class_='sort-num_votes-visible').text.strip().replace('\n',''))
        title.append(res.find("h3",class_="lister-item-header").text.strip().replace('\n',''))
        genre.append(res.find("span",class_='genre').text.strip())
        run_time.append(res.find("span",class_="runtime").text.strip())
        user_rating.append(res.find("div", class_="inline-block ratings-imdb-rating").text.strip())

In [ ]:
#Creating dataframe
df1 = pd.DataFrame({'rating':rating,'year':year,'gross':gross,'title':title,'run_time':run_time,'genre':genre,'user_rating':user_rating})

In [ ]:
df1

In [ ]:
#Separating gross into three columns(movie_gross,number of votes & imdb ranking)
new = df1['gross'].str.split('|', expand= True)
num_votes = new[0].str.split(':', expand= True)
df1["num_votes"]=num_votes[1]
imdb_ranking = new[2].str.split(':', expand= True)
df1["imdb_ranking"]=imdb_ranking[1]
movie_gross = new[1].str.split(':', expand= True)
df1["movie_gross"]=movie_gross[1]

In [ ]:
#Remove year & number from title column
new1 = df1['title'].str.split('(', expand= True)
movie_title = new1[0].str.split('.', expand= True)
df1['movie_title']=movie_title[1]

In [ ]:
#Removing title & gross column
df1.drop(columns=['title', 'gross'],axis=1, inplace = True)

In [ ]:
#changing columns order

df1.iloc[:, [8,1,3,0,7,2,4,5,6]]

,movie_title,year,genre,rating,movie_gross,run_time,user_rating,num_votes,imdb_ranking
0,The Shawshank Redemption,1994,Drama,R,$28.34M,142 min,9.3,"2,695,712",#1
1,The Godfather,1972,"Crime, Drama",R,$134.97M,175 min,9.2,"1,870,793",#2
2,Schindler's List,1993,"Biography, Drama, History",R,$96.90M,195 min,9.0,"1,363,323",#6
3,The Dark Knight,2008,"Action, Crime, Drama",PG-13,$534.86M,152 min,9.0,"2,669,777",#3
4,12 Angry Men,1957,"Crime, Drama",Approved,$4.36M,96 min,9.0,"796,488",#5
...,...,...,...,...,...,...,...,...,...
495,The Intouchables,2011,"Biography, Comedy, Drama",R,$13.18M,112 min,8.5,"865,666",#46
496,Casablanca,1942,"Drama, Romance, War",PG,$1.02M,102 min,8.5,"575,780",#43
497,Once Upon a Time in the West,1968,Western,PG-13,$5.32M,165 min,8.5,"332,823",#48
498,Psycho,1960,"Horror, Mystery, Thriller",R,$32.00M,109 min,8.5,"676,778",#33
499,Grave of the Fireflies,1988,"Animation, Drama, War",Not Rated,#44,89 min,8.5,"281,016",None

In [ ]:
#saving the data in csv format

from google.colab import files
df1.to_csv('imdb_movies.csv', index = False, encoding = 'utf-8-sig')
files.download('imdb_movies.csv')